h1{
  font-size: 8vw !important;
}

.videoText_p, .videoText_h {
  color: white;
  text-align: center;
}

.videoText_h {
  font-family: "Permanent Marker", cursive;
  font-size: 8vw !important;
}

.videoText_p {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3vw;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.textoLosMalosTenianRazon{
  font-family: "Permanent Marker";
  font-size: 3vw !important;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-5%, -50%);
  color: white;
}

.textoAUTORLosMalosTenianRazon{
  font-family: "Permanent Marker", cursive; 
  font-size: 3vw !important;
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-5%, -50%);
  color: white;
}

.btnC, .btnB, .btnA {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

.btnA {
  background-color: #70c7be !important;
}

.btnB {
  background-color: #7f92cf !important;
}

.btnC {
  background-color: #d8712c !important;
}

.ParallaxImage {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}

.ParallaxImage h1 {
  font-weight: 700;
  font-size: 76px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}
/*la luna*/
.bg1 {
  background-image: url("https://i.blogs.es/5efe2c/cap_001/450_1000.jpg");
}
/*uno parado en la noche con el cielo estrellado*/
.bg2 {
  background-image: url("https://ichef.bbci.co.uk/news/640/cpsprodpb/F403/production/_109476426_jheison3.png");
}
/*pingüinos abrazados*/
.bg3 {
  background-image: url("https://ichef.bbci.co.uk/news/800/cpsprodpb/35F4/production/_116221831_mediaitem116221830.jpg");
}


.ParallaxContent {
  background: none repeat scroll 0 0 #2581e8;
  padding: 42px 0;
  color: #FFF;
}

.ParallaxContent h2 {
  color: #FFF;
}

.ParallaxVideo {
  height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.ParallaxVideo video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.ParallaxVideo h1 {
  color: #fff;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.blurred {
  filter: blur(5px);
}

.tabulador {
  padding-left: 5em;
}

@media only screen and (max-width: 576px) { 
  .paddingCondicional{
    padding-bottom: 5%;
  }
}

@media only screen and (min-width:576px) and (max-width: 991px) {
  .igualoAlturas{
    height: 350px;
  }
}
/*# sourceMappingURL=styles.css.map */
