{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}

<img class="col-12" src="../../static/appGenerandoEntropia/images/fotos/aikaChiquitaDuerme.jpg">

<a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}