{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}

  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 85%;
    height: 85%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .carousel-video {
    width: 85% !important;
    height: 85% !important;
    margin-left: 7% !important;
  }

  </style>
</head>

<body style="background-color: grey;">

  <div id="demo" class="carousel slide center" data-ride="carousel" >
    
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
      <li data-target="#demo" data-slide-to="6"></li>
      <li data-target="#demo" data-slide-to="7"></li>
      <li data-target="#demo" data-slide-to="8"></li>
      <li data-target="#demo" data-slide-to="9"></li>
      <li data-target="#demo" data-slide-to="10"></li>
      <li data-target="#demo" data-slide-to="11"></li>
      <li data-target="#demo" data-slide-to="12"></li>
      <li data-target="#demo" data-slide-to="13"></li>
      <li data-target="#demo" data-slide-to="14"></li>
      <li data-target="#demo" data-slide-to="15"></li>
      <li data-target="#demo" data-slide-to="16"></li>
      <li data-target="#demo" data-slide-to="17"></li>
      <li data-target="#demo" data-slide-to="18"></li>
      <li data-target="#demo" data-slide-to="19"></li> 
      <li data-target="#demo" data-slide-to="20"></li>
      <li data-target="#demo" data-slide-to="21"></li>
      <li data-target="#demo" data-slide-to="22"></li>
      <li data-target="#demo" data-slide-to="23"></li> 
      <li data-target="#demo" data-slide-to="24"></li> 
      <li data-target="#demo" data-slide-to="25"></li> 
    </ul>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/01.jpg" alt="construyendo ardupiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de eNanoPiano.</p>
      </div> 
    </div>
    

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/02.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/03.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/04.jpg" alt="construyendo eNanoPiano" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/05.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item" data-interval="30000">
      <video controls class="carousel-video">
        <source src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/videosArdupiano/01.mp4" alt="construyendo eNanoPiano">
      </video>
      <div class="carousel-caption">
        <h3>Soy un video. Click sobre la imagen.</h3>
        <p>Pruebas  e-NanoPiano.</p>
      </div>   
    </div>


    <div class="carousel-item" data-interval="10000">
      <video controls class="carousel-video">
        <source src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/videosArdupiano/02.mp4" alt="construyendo eNanoPiano">
      </video>
      <div class="carousel-caption">
        <h3>Soy un video. Click sobre la imagen.</h3>
        <p>Pruebas e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/06.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/07.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/08.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/09.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/10.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/11.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/12.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/13.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/14.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/15.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/16.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/17.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/18.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/19.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/20.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/21.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/22.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/23.jpg" alt="construyendo eNanoPiano" width="1100" height="500">
      <div class="carousel-caption">
        <h3>e-NanoPiano</h3>
        <p>Construcción de e-NanoPiano.</p>
      </div>   
    </div>

    <div class="carousel-item" data-interval="35000">
      <video controls class="carousel-video">
        <source src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/videosArdupiano/03.mp4" alt="construyendo eNanoPiano">
      </video>
      <div class="carousel-caption">
        <h3>Soy un video. Click sobre la imagen.</h3>
        <p>Pruebas e-NanoPiano.</p>
      </div>   
    </div>
  


  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:1%">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next" style="right:2%">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div>
  <h3 style="text-align:center; margin-top:2% ;">Construcción de e-NanoPiano.</h3>
  <p style="margin-right: 5%; margin-left:5%;">
    Estas imágenes muestran el proceso de construcción y desarrollo de un pequeño teclado que tiene las teclas asociadas a las notas DO a SI de la 
    escala "central" de un piano. <br>
    Para su construcción se utilizó acrílico, tornillos, pegamento, leds, pulsadores, cable, un arduino nano, un buzzer.....algo de ingenio, tiempo,
    dedicación y paciencia.
  </p>
</div>  

<a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}