{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}

  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 85%;
    height: 85%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .carousel-video {
    width: 85% !important;
    height: 85% !important;
    margin-left: 7% !important;
  }
  
  </style>

</head>

<body style="background-color: grey;">

  <div id="demo" class="carousel slide center" data-ride="carousel" >
    
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
      <li data-target="#demo" data-slide-to="6"></li>
      <li data-target="#demo" data-slide-to="7"></li>
      <li data-target="#demo" data-slide-to="8"></li>
      <li data-target="#demo" data-slide-to="9"></li>
      <li data-target="#demo" data-slide-to="10"></li>
      <li data-target="#demo" data-slide-to="11"></li>
      <li data-target="#demo" data-slide-to="12"></li>
      <li data-target="#demo" data-slide-to="13"></li>
      <li data-target="#demo" data-slide-to="14"></li>
      <li data-target="#demo" data-slide-to="15"></li>
      <li data-target="#demo" data-slide-to="16"></li>
      <li data-target="#demo" data-slide-to="16"></li>
      <li data-target="#demo" data-slide-to="17"></li>
      <li data-target="#demo" data-slide-to="18"></li>
      <li data-target="#demo" data-slide-to="19"></li>
      <li data-target="#demo" data-slide-to="20"></li>
      <li data-target="#demo" data-slide-to="21"></li>
      <li data-target="#demo" data-slide-to="21"></li>
      <li data-target="#demo" data-slide-to="23"></li>
      <li data-target="#demo" data-slide-to="24"></li>
      <li data-target="#demo" data-slide-to="25"></li>
      <li data-target="#demo" data-slide-to="26"></li>
      <li data-target="#demo" data-slide-to="27"></li>
    </ul>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/01.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div> 
    </div>
    

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/02.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/03.jpg" alt="construyendo estroncio" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/04.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/05.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/06.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/07.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>


    <div class="carousel-item" data-interval="40000">
      <video controls class="carousel-video">
        <source src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/videosEstrioncio/06.mp4" alt="construyendo estroncio">
      </video>
      <div class="carousel-caption">
        <h3>Soy un video. Click sobre la imagen.</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/09.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/10.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/11.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/12.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/13.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/14.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/15.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/16.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/17.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/18.jpg" alt="construyendo estroncio" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/19.jpg" alt="construyendo estroncio" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/20.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/21.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/22.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/23.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/24.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/25.jpg" alt="construyendo estroncio" width="1100" height="500">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/26.jpg" alt="construyendo estroncio" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/27.jpg" alt="construyendo estroncio" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/28.jpg" alt="construyendo estroncio" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>ESTRONCIO</h3>
        <p>Reproductor de música basado en rune audio.</p>
      </div>   
    </div>

  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:1%">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next" style="right:2%">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div>
  <h3 style="text-align:center; margin-top:2% ;">Estroncio.</h3>
  <p style="margin-right: 5%; margin-left:5%;">
    Estroncio es un reproductor de mp3 que corre en una raspberry pi. <br>
    Usa una imagen de runeaudio <a href="https://www.runeaudio.com/" style="color: yellow;">https://www.runeaudio.com/</a> 
    Estas imágenes muestran el proceso de construcción y desarrollo.
    Se desarrolló un programa en python que también corre en la raspberry y permite interactuar el hardware que se construyó, con rune audio. <br>
    El hardware cosiste en motores, pulsadores, display LCD, etc; que pretende simular un tocadiscos antiguo (aún en construcción). El display muestra 
    nombre de la canción que se está reproduciendo, porcetaje de avance del tema, volumen, etc.<br>
    De momento las pruebas preliminares son funcionales. <br>
    Rune audio tiene una interfaz gráfica que permite seleccionar el tema musical, modificar el volumen, etc. Estas modificaciones se ven reflejadas
    en estroncio y vice versa. Es decir, si por ejemplo se modifica el volumen en estroncio, este cambio se ve reflejado en la interfaz gráfica de rune audio 
    y si el volumen se modifica en la interfaz gráfica de rune audio, el cambio se ve reflejado en estroncio.<br>
  </p>
</div>  

<a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}

</body>