{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}{% endblock %}&Delta;S>0</title>
<!-- El favicon: -->
        <link rel="icon" type="image/png" href="{% static 'appGenerandoEntropia/images/favicons/faviconfire.png' %}">
<!--Todo el CSS:-->
        <link rel="stylesheet" href="{% static 'appGenerandoEntropia/styles.css' %}">
<!--Goole fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- te agregue este meta con palabras claves, modifica y agregale las que te parezcan mejor -->
        <meta name="Keywords" content="Entropía, Entropia, entroía, entropia, Darío, Darío, dario, darío, chiste, miércoles"> 
<!--descomentalo acá agregale una descripcion de la pagina -->
        <meta name="Description" content="mi pagina web corriendo en raspberry"> 

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>