{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}
<h2> Sesión cerrada exitosamente.</h2>
<img src="https://agencia13.es/wp-content/uploads/2021/07/bye-gif-animado.gif">
<h2>¡Adiós!</h2>

<a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}