{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}
<!--
    <h2>PÁGINA EN CONSTRUCCIÓN.</h2>
    <img src="https://lh5.googleusercontent.com/-9jrN85WBl2s/U6C6CEuAiQI/AAAAAAAAAA4/CltTv8ziyMM/s400/obres5.gif">
    <h3>Esto será la sección "Lo que no se puede decir."</h3>
-->
<h2> Ingreso de usuario registrado.</h2>
<hr>
    {% if message %}
        <div>{{message}}</div>
    {% endif %}
    <div class="container">
        <form acction="{% url 'loquenosepuededecir' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input class="form-control" autofocus type="text" autocapitalize="off" name="username" placeholder="Nombre de usuario">
            </div>
            <div class="form-group">
                <label for="pwd">Contraseña:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>

    <hr>
    <div>
        ¿Todavía no es un usuario registrado? <a href="{% url 'register' %}">Registrese aquí.</a>
    </div>
    
    <a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}