{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}
<!--
<h2>PÁGINA EN CONSTRUCCIÓN.</h2>
<img src="https://www.gifsanimados.org/data/media/1664/en-construccion-y-obra-imagen-animada-0031.gif">
-->
<h2>¡Bienvenido, <strong>{{ request.user.username | capfirst }}</strong>!</h2>
<ul>
    <li>Usuario: {{ request.user.username }}</li>
    <li>Correo: {{request.user.email }}</li>
</ul>
<hr><br>
<h3> Aún no tenemos demasiado contenido, pero ya podemos crear usuarios!</h3>


<a href="{% url 'logout' %}"><button class="btn"><i class="fa fa-sign-out"></i> Logout</button></a>


{% if user.username == "dario" %}
    <hr>
    <a href="{% url 'led1on' %}"><button>LED1 ON</button></a>
    <a href="{% url 'led1off' %}"><button>LED1 OFF</button></a>
{% endif %}

{% endblock %}