{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}

    <div class="contenedor">
        <img src="{% static 'appGenerandoEntropia/images/fotos/misCosas/losMalosTenianRazon/light-bulbs.jpg' %}" width="100%" />
        <div class="textoLosMalosTenianRazon">Antes de juzgar, asegúrate de que eres perfecto </div>
        <div class="textoAUTORLosMalosTenianRazon">Joker.-</div>
    </div>
  
 <!-- De momento esto queda por acá porque no se porque no reconoce lo que hay en stules.css en algunos navegadores --> 
  <style>
        .contenedor{
            position: relative;
            display: inline-block;
            text-align: center;
        }
        
        
        .textoLosMalosTenianRazon{
        font-family: "Permanent Marker";
        font-size: 3vw !important;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-5%, -50%);
        color: white;
        }
        .textoAUTORLosMalosTenianRazon{
        font-family: "Permanent Marker", cursive; 
        font-size: 3vw !important;
        position: absolute;
        top: 70%;
        left: 80%;
        transform: translate(-5%, -50%);
        color: white;
        }

  </style>

<!--
<div class="contenedor">
    <img src="{% static 'appGenerandoEntropia/images/fotos/misCosas/losMalosTenianRazon/light-bulbs.jpg' %}" width="100%" />
    <div class="textoLosMalosTenianRazon">Antes de juzgar, asegúrate de que eres perfecto </div>
    <div class="textoAUTORLosMalosTenianRazon">Joker.-</div>
</div>
--> 
<a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}