{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}

  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 85%;
    height: 85%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .carousel-video {
    width: 75% !important;
    height: 75% !important;
    margin-left: 12% !important;
  }

  </style>
</head>

<body style="background-color: grey;">

  <div id="demo" class="carousel slide center" data-ride="carousel" >
    
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    </ul>
  
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/mazorcaRacer/fotosMazorcaRacer/alfDriving.jpeg" alt="Mazorca Racer" style="width: 50% !important; margin-left: 24% !important;">
      <div class="carousel-caption">
        <h3>Mazorca Racer</h3>
        <p>Control de un juego de conducir, utilizando un objeto "cualquiera" y programado en python.</p>
      </div> 
    </div>
    
    <div class="carousel-item" data-interval="26000">
      <video controls class="carousel-video">
        <source src="../../static/appGenerandoEntropia/images/fotos/misCosas/mazorcaRacer/videosMazorcaRacer/mazorcaRacer.mp4" alt="Mazorca Racer">
      </video>
      <div class="carousel-caption">
        <h3 style="background-color: black;">Soy un video. Click sobre la imagen.</h3>
        <p style="background-color: black;">Control de un juego de conducir, utilizando un objeto "cualquiera" y programado en python.</p>
      </div>   
    </div>

  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:1%">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next" style="right:2%">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div>
  <h3 style="text-align:center; margin-top:2% ;">Mazorca Racer.</h3>
  <p style="margin-right: 5%; margin-left:5%;">
    Originalmente se llamó "Banana Racer"....porque la inspiración para hacer esto la encontré en un proyecto de Ringa Tech, que 
    básicamente hace lo mismo, pero utilizando javascript y una banana. Esto (el uso de javascript) hace que él deba utilizar un 
    servidor para básicamente, hacer de pasa manos entre javascript y el sistema, permitiéndole "presionar" las teclas 
    correspondientes para girar a la derecha o a la izquierda.
   </br>Esta implementación utiliza exclusivamente python y algunas librerías que permiten interactuar con el sistema operativo 
   (particularmente lo desarrollé en debian 12), para capturar video y manipular pixeles, etc. También se utilizó algo de ingenio, 
   tiempo, dedicación y paciencia.
   El código puede consultarse en <a href="https://gitlab.com/GitLabdeDario/bananaracer/-/wikis/Banana-Racer">mi página de gitlab</a>.
  </p>
</div>  

<a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}