{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}

<div id="mitiempolibre" class="ParallaxImage bg3">
  <div class="container">
      <h1><br>Mi tiempo libre. <br></h1>
  </div>
</div>	


<div class="ParallaxContent bg-dark">
  <div class="container">
      <div class="row justify-content-center">
          
          <div class="paddingCondicional col-sm-4 col-12">                
              <div class="card bg-secondary igualoAlturas">
                  <img class="card-img-top" src="../../static/appGenerandoEntropia/images/fotos/misCosas/estroncio/fotosEstroncio/presentacionEstroncio.jpg" alt="Presentacion estroncio">
                  <div class="card-body">
                    <h4 class="card-title">ESTRONCIO</h4>
                    <p class="card-text">Reproductor de música.</p>
                    <a href="{% url 'estroncio' %}" class="btn btnA">Abrir</a>
                  </div>
              </div>
          </div>

          <div class="paddingCondicional col-sm-4 col-12">
              <div class="card bg-secondary igualoAlturas">
                  <img class="card-img-top" src="../../static/appGenerandoEntropia/images/fotos/arcPresentacion.jpg" alt="Presentación reactor ARC">
                  <div class="card-body">
                    <h4 class="card-title">Reactor ARC</h4>
                    <p class="card-text">Reactor ARC Iron man.</p>
                    <a href="{% url 'reactorArk' %}" class="btn btnB">Abrir</a>
                  </div>
              </div>
          </div>

          <div class="paddingCondicional col-sm-4 col-12">
              <div class="card bg-secondary igualoAlturas">
                  <img class="card-img-top" src="../../static/appGenerandoEntropia/images/fotos/misCosas/ardupiano/fotosArdupiano/presentacionArdupiano.jpg" alt="presentacion ardupiano" width="500" height="220">
                  <div class="card-body">
                    <h4 class="card-title">e-NanoPiano</h4>
                    <p class="card-text">Construcción y diseño de e-NanoPiano</p>
                    <a href="{% url 'eNanoPiano' %}" class="btn btnC">Abrir</a>
                  </div>
              </div>
          </div>
       
      </div> 


      <div class="row justify-content-center">
          
        <div class="paddingCondicional col-sm-4 col-12">                
            <div class="card bg-secondary igualoAlturas">
              <img class="card-img-top" src="../../static/appGenerandoEntropia/images/fotos/misCosas/IA/homero.jpg" alt="numeros IA" width="500" height="220">
                <div class="card-body">
                  <h4 class="card-title">Mis pruebas con IA</h4>
                  <p class="card-text">Predictor de números manuscritos.</p>
                  <a href="{% url 'numeros_IA' %}" class="btn btnC">Abrir</a>
                </div>
            </div>
        </div>


        <div class="paddingCondicional col-sm-4 col-12">
            <div class="card bg-secondary igualoAlturas">
                <img class="card-img-top" src="../../static/appGenerandoEntropia/images/fotos/misCosas/mazorcaRacer/fotosMazorcaRacer/alfDriving.jpeg" alt="presentacion Mazorca Racer" width="500" height="220">
                <div class="card-body">
                  <h4 class="card-title">Mazorca Racer</h4>
                  <p class="card-text">Control de juego de conducir con choclo.</p>
                  <a href="{% url 'mazorcaracer' %}" class="btn btnC">Abrir</a>
                </div>
            </div>
        </div>
     
    </div> 

  </div>
</div>

<a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}
