{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}

  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 85%;
    height: 85%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .carousel-video {
    width: 85% !important;
    height: 85% !important;
    margin-left: 7% !important;
  }

  </style>
</head>

<body style="background-color: grey;">

  <div id="demo" class="carousel slide center" data-ride="carousel" >
    
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
      <li data-target="#demo" data-slide-to="6"></li>
      <li data-target="#demo" data-slide-to="7"></li>
      <li data-target="#demo" data-slide-to="8"></li>
      <li data-target="#demo" data-slide-to="9"></li>
      <li data-target="#demo" data-slide-to="10"></li>
      <li data-target="#demo" data-slide-to="11"></li>
      <li data-target="#demo" data-slide-to="12"></li>
      <li data-target="#demo" data-slide-to="13"></li>
      <li data-target="#demo" data-slide-to="14"></li>
      <li data-target="#demo" data-slide-to="15"></li>
      <li data-target="#demo" data-slide-to="16"></li>
      <li data-target="#demo" data-slide-to="17"></li>
      <li data-target="#demo" data-slide-to="18"></li>
      <li data-target="#demo" data-slide-to="19"></li>
    </ul>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/01.jpg" alt="construyendo reactor arc" width="1100" height="500">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div> 
    </div>
    

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/02.jpg" alt="construyendo reactor arc" width="1100" height="500">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/03.jpg" alt="construyendo reactor arc">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/04.jpg" alt="construyendo reactor arc" width="1100" height="500">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/06.jpg" alt="construyendo reactor arc" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/07.jpg" alt="construyendo reactor arc" style="width: 40% !important; margin-left: 30% !important;">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/08.jpg" alt="construyendo reactor arc" style="width: 25% !important; margin-left: 37% !important;">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/09.jpg" style="width: 35% !important; margin-left: 37% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
      </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/10.jpg" alt="construyendo reactor arc" style="width: 40% !important; margin-left: 30% !important;">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/11.jpg" alt="construyendo reactor arc" style="width: 40% !important; margin-left: 30% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
      </div>

    <div class="carousel-item">
      <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/12.jpg" alt="construyendo reactor arc" style="width: 50% !important; margin-left: 25% !important;">
      <div class="carousel-caption">
        <h3>REACTOR ARC</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/13.jpg" alt="construyendo reactor arc" style="width: 40% !important; margin-left: 30% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/14.jpg" alt="construyendo reactor arc" style="width: 70% !important; margin-left: 15% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/15.jpg" alt="construyendo reactor arc" style="width: 65% !important; margin-left: 17% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/16.jpg" alt="construyendo reactor arc" style="width: 50% !important; margin-left: 25% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/17.jpg" alt="construyendo reactor arc" style="width: 50% !important; margin-left: 25% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/18.jpg" alt="construyendo reactor arc" style="width: 50% !important; margin-left: 25% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/19.jpg" alt="construyendo reactor arc" style="width: 65% !important; margin-left: 17% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
    </div>

    <div class="carousel-item">
        <img src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/fotosArk/20.jpg" alt="construyendo reactor arc" style="width: 65% !important; margin-left: 17% !important;">
        <div class="carousel-caption">
          <h3>REACTOR ARC</h3>
          <p>Réplica de reactor ARC.</p>
        </div>   
    </div>

    <div class="carousel-item">
      <video controls muted class="carousel-video">
        <source src="../../static/appGenerandoEntropia/images/fotos/misCosas/reactorArk/videosArk/01.mp4" alt="construyendo reactor arc">
      </video>
      <div class="carousel-caption">
        <h3>Soy un video. Click sobre la imagen.</h3>
        <p>Réplica de reactor ARC.</p>
      </div>   
    </div>

  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:1%">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next" style="right:2%">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div>
  <h3 style="text-align:center; margin-top:2% ;">Réplica de reactor ARC.</h3>
  <p style="margin-right: 5%; margin-left:5%;">
    Estas imágenes muestran el proceso de construcción y desarrollo de una réplica de un reactor ARC como el que utiliza el personaje iron man en sus películas. <br>
    Para su construcción se utilizó cartón, precintos, una barra de silicona de las usadas para las pistolas de silicona caliente, alambre de cobre, alambre
    galvanizado, cola vinílica, papel, leds blancos, trozos de plástico, recortes de una lata de refrescos de aluminio.....algo de ingenio, tiempo, dedicación y paciencia.
    
  </p>
</div>  

<a href="{% url 'index' %}"><button class="btn"><i class="fa fa-home"></i> Volver a inicio</button></a>
{% endblock %}
